<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/2982f7c64c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <nav id= "nbar" class="navbar navbar-expand-sm fixed-top">
            <div id = "top-container">
              <a class="navbar-brand font-color-green" ><i class="fa fa-home">&nbsp;</i>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="" role="button" ><i class="fa fa-bars font-color-green" aria-hidden="true"></i></span>
            </button>
            </div>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link font-color-green" id = "nav-ed" >Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-color-green" id="nav-prof">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-color-green" href="#">Extracurriculars</a>
                </li>    
                <li class="nav-item">
                  <a class="nav-link font-color-green" href="#">Contact Me</a>
                </li>   
              </ul>
            </div>  
        </nav>
        
        <br><br>
        <div id = "ed"></div>
          <div id = "div1">
            <h1 id = "hello-world">Hello, World;</h1>
            <h1 id = "my-name">I am Poojan Thumar</h1>
          </div>
          <div id = "div2">
            <div id = "ed-header">
              <h1>Education</h1>
            </div>
            <div id = "ed-container">
              <div class = "timeline-bar">
                <div class = "aeroplane">
                  <i class="fas fa-plane"></i>
                </div>
              </div>
              <div class = "institute">
                <div class = "odd inst-info">
                  <div class = "info-main">
                    <h4>Indian Institute of Technology, Guwahati</h4>
                    <h6>B.Tech in Engineering Physics <strong>2018-Present</strong></h6>
                    <p>Current CGPA - 7.67</p>
                    <div class = "timeline-circle"></div>
                  </div>
                </div>
              </div>
              <div class = "institute">
                <div class = "even inst-info">
                  <div class = "info-main">
                    <h4>Shiv Jyoti, Rathkankara</h4>
                    <h6>Senior Secondary <strong>2016-2018</strong></h6>
                    <p>Class 12th Percentage - 89.6%</p>
                    <div class = "timeline-circle"></div>

                  </div>
                </div>
              </div>
              <div class = "institute">
                <div class = "odd inst-info">
                  <div class = "info-main">
                    <h4>Kasiga School, Dehradun</h4>
                    <h6>Higher Secondary <strong>2009-2016</strong></h6>
                    <p>Class 10th CGPA - 10</p>
                    <div class = "timeline-circle"></div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
          <div id = "div3">
            <div id = "project-header">
              <h1>Project</h1>
            </div>
            <div id = "project-container">
              <div class = "project">
                <div class = "project-img">
                  <img src = "/img/hrms.png">
                </div>
                <div class = "project-bg"></div>
                <div class = "project-title">
                  <h4>Human Resource Management System </h4>
                </div>
                <div class = "project-content">
                  <p>
                    An employee management portal based on C++, which supports selective function-alities across the hierarchy and divisions in a company. The salient features of the system involves :-
                    <br>
                    ∗ Id-Password based login system.
                    <br>
                    ∗ Works on file systems in the backend 
                    <br> 
                    ∗ Supports real time update of data
                  </p>
                </div>
              </div>
              <div class = "project">
                <div class = "project-img">
                  <img src = "/img/todo.png">
                </div>
                <div class = "project-bg"></div>
                <div class = "project-title">
                  <h4>TODO APP (MERN Stack)</h4>
                </div>
                <div class = "project-content">
                  <p>
                    A simple To-Do app hosted locally using the MERN Stack with MVC architecture. It is made responsive with great user-experience and attention to detail.                    
                  </p>
                </div>
              </div>
              <div class = "project">
                <div class = "project-img">
                  <img src = "/img/inshorts.png">
                </div>
                <div class = "project-bg"></div>
                <div class = "project-title">
                  <h4>Inshorts App Web Clone </h4>
                </div>
                <div class = "project-content">
                  <p>
                    Clone for Inshorts app (a news application) using ReactJS and HTML/CSS including responsiveness and swipe feature (swipe to next story) for mobile UI.
                  </p>
                </div>
              </div>
              <div class = "project">
                <div class = "project-img">
                  <img src = "/img/d3.png">
                </div>
                <div class = "project-bg"></div>
                <div class = "project-title">
                  <h4>Data Visualization in Javascript with D3.js</h4>
                </div>
                
                <div class = "project-content">
                  <p>
                    From the data obtained online such as (US GDP, Global Land-Surface Temperature, etc.) visualized various kinds of data such as (Bar Graph, Scatter Plot, Pie Chart and Maps with D3.js (library for data visualization). 
                  </p>
                </div>
              </div>
              <div class = "project">
                <div class = "project-img">
                  <img src = "/img/hrms.png">
                </div>
                <div class = "project-bg"></div>
                <div class = "project-title">
                  <h4> 8085 micro-processor Related Projects</h4>
                </div>
                <div class = "project-content">
                  <p>
                    ∗ &nbsp; <strong>Traffic Control Signal:</strong> Created a Traffic Control signal using 8085 with 8255 as a peripheral device.<br>
                    ∗ &nbsp; Implemented the working of Stepper Motor, 7 Segment Display etc.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>HELLO</div>
          <div>HELLO</div>

          <div>HELLO</div>

          <div>HELLO</div>

          <div>HELLO</div>


          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>

         
          <script src="/js/home.js"></script>
    </body>
</html>