<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/2982f7c64c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <nav id= "nbar" class="navbar navbar-expand-sm fixed-top">
            <div id = "top-container">
              <a class="navbar-brand font-color-green" href="#top"><i class="fa fa-home">&nbsp;</i>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="" role="button" ><i class="fa fa-bars font-color-green" aria-hidden="true"></i></span>
            </button>
            </div>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link font-color-green" href="#">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-color-green" href="#">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-color-green" href="#">Extracurriculars</a>
                </li>    
                <li class="nav-item">
                  <a class="nav-link font-color-green" href="#">Contact Me</a>
                </li>   
              </ul>
            </div>  
        </nav>
        <br><br>
          <div id = "div1">
            <h1 id = "hello-world">Hello, World;</h1>
            <h1 id = "my-name">I am Poojan Thumar</h1>
          </div>
          <div id = "div2">
            <div id = "ed-header">
              <h1>Education</h1>
            </div>
            <div id = "ed-container">
              <div class = "timeline-bar">
                <div class = "aeroplane">
                  <i class="fas fa-plane"></i>
                </div>
              </div>
              <div class = "institute">
                <div class = "odd inst-info">
                  <div class = "info-main">
                    <h4>Indian Institute of Technology, Guwahati</h4>
                    <h6>B.Tech in Engineering Physics <strong>2018-Present</strong></h6>
                    <p>Current CGPA - 7.67</p>
                    <div class = "timeline-circle"></div>
                  </div>
                </div>
              </div>
              <div class = "institute">
                <div class = "even inst-info">
                  <div class = "info-main">
                    <h4>Shiv Jyoti, Rathkankara</h4>
                    <h6>Senior Secondary <strong>2016-2018</strong></h6>
                    <p>Class 12th Percentage - 89.6%</p>
                    <div class = "timeline-circle"></div>

                  </div>
                </div>
              </div>
              <div class = "institute">
                <div class = "odd inst-info">
                  <div class = "info-main">
                    <h4>Kasiga School, Dehradun</h4>
                    <h6>Higher Secondary <strong>2009-2016</strong></h6>
                    <p>Class 10th CGPA - 10</p>
                    <div class = "timeline-circle"></div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <div>HELLO</div>
          <script src="/js/home.js"></script>
    </body>
</html>