

html {
  height: 100%;
  scroll-behavior:smooth;
}

body{
    margin: 0px;
    background-color:rgb(16, 56, 18);
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0) 5%, rgb(29, 92, 29),rgb(40, 150, 40)) no-repeat fixed;
    background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0) 5%, rgb(29, 92, 29),rgb(40, 150, 40));
    background: -moz-linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0) 5%, rgb(29, 92, 29),rgb(40, 150, 40));
    background: -ms-linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0) 5%, rgb(29, 92, 29),rgb(40, 150, 40));
    
    background-size: auto;
    color: whitesmoke;
}

.font-color-green {
    color: rgb(26, 212, 26);
    &:hover{
        color: rgb(17, 110, 32);
    }
}
#top-container{
    background-color: black;
}
#collapsibleNavbar{
    background-color: black;
}
.collapsing, .show{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    ul{
        padding-inline-start: 0px;
    }
}
nav{
    z-index: 6;
    background-color: none;
}
.navbar{
    padding: 0px;
}
.navbar-brand{
    padding-left: 2vw;
}
.navbar-toggler{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    text-align: center;
    float: right;
}
.navbar-collapse{
    padding-right: 2vw;
}
.nav-description{
    margin:0;
    #nav-img{
        height:7vh;
        width: auto;
    }
}

#div1{
    height: 93vh;
    text-align: center;
    margin-top: 7vh;
    padding-top: 15vh;
    color: rgb(41, 196, 36);
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    h1{
        font-size: 16vh;
    }
    
    #hello-world{
        font-family: 'Suez One', serif;
        -webkit-text-stroke-width: 0.3vw;
    text-align: center;

    }
    #my-name{
        font-family: 'Rancho', cursive;
    text-align: center;

        
    }
}

.reached{
    position: sticky;
    top: 4vh;
}

#div2{
    text-align: center;
    color: black;
    #ed-header{
        position: sticky;
        top: 5vh;
        color: rgb(41, 196, 36);
        z-index: 5;
    }

    #ed-container{
        position: relative;
        margin: auto;
        margin-top: 45vh;
        width: 80%;
        .timeline-bar{
            height: 900px;
            position: absolute;
            text-align: center;
            top: -150px;
            left:49.5%;
            width: 1%;
            background-color: rgb(0, 0, 0);
            z-index: 1;
            border-radius: 10px;

            .aeroplane {
                font-size: 3vw;
                position: sticky;
                top: 45vh;
                color: rgb(39, 206, 24);
                height: 1px;
                width: 1px;

                i{
                    position: relative;
                    z-index: 3;
                    top: -2vh;
                    transform: rotateZ(90deg);
                    left: -1.35vw;
                }
            }
        }

        .institute{
            padding-top: 75px;
            padding-bottom: 75px;
            width: 100%;
            min-height: 300px;

            .inst-info{
                width: 45%;
                height: 150px;
                padding-bottom: 25px;
                padding-top: 25px;
                border-radius: 25px;
                transition: 0.5s ease-in-out;


                .info-main{
                    height: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    position: relative;

                    h4{
                        font-weight: 800;
                        font-size: 1.6vw;
                    }
                    h6{
                        font-weight: 700;
                        font-size: 1.4vw;

                        text-align: left;
                        strong{
                            font-weight: 700;
                            float: right;
                            text-align: right;
                        }
                    }
                    p{
                        margin-top: 20px;
                        font-weight: 600;
                        font-size: 1.2vw;
                    }
                    .timeline-circle{
                        position: absolute;
                        top: 25px;
                        z-index: -1;
                        width: 2vw;
                        height: 2vw;
                        border-radius: 50%;
                        background-color: rgb(0, 0, 0);
                        transition: 0.5s ease-in-out;

                    }
                    

                }
            }
            
            .odd{
                float: left;

                .info-main{
                    .timeline-circle{

                        left: 108.4%;

                    }
                }
            }
    
            .even{
                float: right;
                .info-main{
                    .timeline-circle{
                        right: 108.3%;
                    }
                }
            }
        }

        
    }
}


#div3{
    text-align: center;
    color: black;
    #project-header{
        color: rgb(41, 196, 36);
        z-index: 5;
    }
    #project-container{
        
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 60vh;
        transition: 0.4s ease-out;



        .project{
            width: 300px;
            height: 300px; 
            margin: 25px;
            transition: 0.8s;
            transform-style: preserve-3d;
            position: relative;
            box-shadow: 0px 0px 40px rgb(0, 0, 0);
            border-radius: 20px;        
            color: white;

            &:hover{
                transform: rotateY(180deg);
            }
            .project-img{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;

                img{
                    opacity: 0.8;

                    height: 100%;
                    width: 100%;
                border-top-left-radius: 20px;
                border-radius: 20px;

                }
            }
            
            .project-title{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 75px;
                position: absolute;
                top: 225px;
                z-index: 1;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;

            }
            .project-bg{
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                width: 100%;
                height: 75px;
                position: absolute;
                background-color: black;
                opacity: 0.8;
                top: 225px;
                z-index: 1;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
                
            }

            .project-content{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;
                position: absolute;
                transform: rotateY(180deg);
                z-index: -1;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
                font-weight: 700;
            }

        }
    }
}

@media(orientation: portrait){
    body{
        background-color:rgb(0, 0, 0);
        background-image: none;
    }
    #top-container{
        box-shadow: 0px 0px 40px rgb(0, 0, 0);

    }
    #div1{
        
        h1{
        font-size: 70px;
        }
    }

    
    #div2{
        #ed-container{
            width: 90%;

            .timeline-bar{
                height: 900px;
                position: absolute;
                top: -150px;
                left:94.5%;
                width: 1%;
                background-color: rgb(0, 0, 0);
                border-radius: 10px;

                .aeroplane {
                    font-size: 3vw;
                    position: sticky;
                    top: 50vh;
                    color: rgb(39, 206, 24);
                    z-index: 2;
                    height: 1px;
                    width: 1px;
    
                    i{
                        position: relative;
                        top: -1.4vh;
                        transform: rotateZ(90deg);
                        left: -1.2vw;
                        z-index: 3;

                    }
                }
            }
            .institute{
                
                .inst-info{
                    width: 90%;
                    height: auto;
                    color: white;

                    .info-main{
                        height: auto;
                        padding-left: 10px;
                        padding-right: 10px;
                        
                        h4{
                            font-size: 3.7vw;
                        }
                        h6{
                            font-size: 3vw;
                            text-align: left;
                            strong{
                                float: right;
                                text-align: right;
                            }
                        }
                        p{
                            font-size: 2.5vw;
                        }
        
                    }
                }
                .odd{
                    .info-main{
                        .timeline-circle{
    
                            left: 104.3%;
    
                        }
                    }
                }
                .even{
                    float: left;
                    .info-main{
                        .timeline-circle{
    
                            left: 104.3%;
    
                        }
                    }
                }
            }
        }
    }
    #div3{
        #project-container{
            width: 90%;
            .project{
                width: 80%;
                min-width: 60vw;
                height: auto;
                margin: 10px;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                box-shadow: 0px 0px 0px rgb(0, 0, 0);

                
                &:hover{
                    transform: rotateY(0deg);
                }
                .project-img{
                    width: 50%;
                    height: 50%;
                    position: relative;
                    z-index: 0;

                    img{
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;

                    }
                }
    
                .project-bg{
                    width: 0%;
                    height: 0%;
                    position: relative;
                    top: 0;
                    z-index: 1;
    
                }

                .project-title{
                    width: 50%;
                    height: 50%;
                    position: relative;
                    top: 45%;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    
                    h4{
                        font-size: 6vw;
                    }
                    
                }
    
                .project-content{
                    width: 100%;
                    height: 50%;
                    position: relative;
                    transform: rotateY(0deg);
                    z-index: -1;
                    text-align: center;
                    font-size: 4vw;
                    
                }
    
            }
        }
    }

}

@media(max-width: 576px)
{
    #top-container{
        width: 100%;
    }
}